@page
@model TMSWeb_Core.Pages.NhaKhach.AccessDenyModel

@{
    ViewData["Title"] = "Access Deny";
    Layout = "~/Pages/Shared/_Layout_NhaKhach.cshtml";
}


<div style="text-align:center; width:100%">
    <h2 style="padding-top:25px;">Bạn không có quyền truy cập</h2>
</div>