@page
@model TMSWeb_Core.Pages.NhaKhach.HuongDanQuanLyNhaKhachModel


@{
    ViewData["Title"] = "Hướng dẫn quản lý nhà khách";
    Layout = "~/Pages/Shared/_Layout_NhaKhach.cshtml";
}


<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="~/HuongDan/HuongDanQuanLyNhaKhach.pdf"></iframe>
</div>