@page
@model TMSWeb_Core.Pages.NhaKhach.HuongDanNhaKhachModel


@{
    ViewData["Title"] = "Hướng dẫn nhà khách";
    Layout = "~/Pages/Shared/_Layout_NhaKhach.cshtml";
}

<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="~/HuongDan/HuongDanNhaKhach.pdf"></iframe>
</div>
